* {
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

.signup{
 text-align: center;
 display:flex;
 justify-content: center;

}

#signup{
   
    background-color: #c93d67;
    padding:5px;
    width:500px;
}

#submit{
 width: 120px;
 height:27px;
 padding:1px;
 font-size: 15px;
 color:white;
 background-color: #385866;
}

body { 
    font-family: 'Calibri'; 
    background-color: #385866; 
    max-width: 100%; 
    overflow-x: hidden;
    border: 2px solid #f2b662;
    
}

header {
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.1vw;
}


.logo {
    display: flex;
    flex-grow: 1;
    flex-basis: 10%;
    margin-top: 0.5%;
    align-self: center;
    justify-content: center;
}

.searchbar{
    display: flex;
    align-self: flex-end;
    flex-grow: 2;
    flex-basis: 75%;
    margin-bottom: 10px;
    border: 3px solid #000000;
    border-radius: 45px;
    background-color: #c93d67;
    height: 50px;
}

.top-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 10%;
    margin-bottom: 10px;
}

.top-nav ul {
    display: flex;
    list-style-type: none;
    align-self: flex-end;
}

/*header ul li { padding-left: 5%; }*/
.top-nav ul li a {
    font-size: 17px;
    color: #f2b662;
}
.pipe {
    color: #f2b662; 
}

body > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

body > nav ul {
    background-color: #c93d67;
    display: inherit;
    align-self: center;
    list-style-type: none;
}

body > nav ul li{
    padding: 0.522em;
    border-left: 2px solid #f2b662;
    border-top: 2px solid #f2b662;
    border-bottom: 2px solid #f2b662;
}
body > nav ul li:first-child {
    border-left: none;
}

body > nav ul li a {
    color: #ffffff;
    padding: 0 4.745em 0 4.745em;
    font-size: 20px;
    text-decoration: none;
}

.slider {
    background-color: #dddddd;
    width: 100%;;
    height: 250px;
}

.product-list {
    
}

footer {bottom: 0; color: #ffffff;}


/* Media queries */
@media all and (max-width: 800px) {
    body > nav ul li{
        padding: 0;
    }

    body > nav ul li a {
        padding: 0 2.315em 0 2.315em;
    }
}

@media all and (max-width: 600px) {
  body > nav ul  {
    flex-flow: column wrap;
    width: 100%;
    align-items:space-evenly;
  }
  body > nav ul li{
      padding: 0;
      text-align: center;
  }
}