* {
    padding: 0;
    margin: 0;
}

body { 
    font-family: 'Calibri'; 
    background-color: #385866; 
    max-width: 100%; 
    overflow-x: hidden;
    border: 2px solid #f2b662;
    
}

header {
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.1vw;
}


.logo {
    display: flex;
    flex-grow: 1;
    flex-basis: 10%;
    margin-top: 0.5%;
    align-self: center;
    justify-content: center;
}

header form {
    display: flex;
    justify-content: center;
}
.searchbar{
    display: flex;
    align-self: flex-end;
    flex-grow: 2;
    flex-basis: 75%;
    margin-bottom: 10px;
    border: 3px solid #000000;
    border-radius: 45px;
    background-color: #c93d67;
    height: 50px;
}

form input[type=text]{
    padding: 0.5em;
    align-self: center;
    font-size: 1.2em;
    width: 70vw;
    background-color: #c93d67;
    color: #ffffff;
    border: none;
    border-radius: 40px 0 0 40px;
}

header form input[type=image]{
    align-self: center;
    padding: 0.1em; 
    background-color: #c93d67;
    border-radius: 45% 44.9% 45% 45%;
    border-left: 3px solid #000000;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-right: none;
    width: 45px;
    height: 45px;
}

.top-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 10%;
    margin-bottom: 10px;
}

.top-nav ul {
    display: flex;
    list-style-type: none;
    align-self: flex-end;
}

/*header ul li { padding-left: 5%; }*/
.top-nav ul li a {
    font-size: 17px;
    color: #f2b662;
}
.pipe {
    color: #f2b662; 
}

 body > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

body > nav ul {
    background-color: #c93d67;
    display: inherit;
    align-self: center;
    list-style-type: none;
    height: 45px;
}

body > nav ul li{
    padding: 0.522em;
    border-left: 2px solid #f2b662;
    border-top: 2px solid #f2b662;
    border-bottom: 2px solid #f2b662;
}
body > nav ul li:first-child {
    border-left: none;
}

body > nav ul li a {
    color: #ffffff;
    padding: 0 4.745em 0 4.745em;
    font-size: 20px;
    text-decoration: none;
}

.slider {
    display: block;
    padding-top: 10px;
    background-color: #dddddd;
    max-width: 100%;;
    height: 250px;
}

.product-wrapper {
    display: flex;
    max-width: 100%;
    flex-flow: row wrap;
    border: 2px solid #f2b662;
}

.product-inner-wrapper {
    background-color: #c93d67;
    flex: 1 0 19%;
    width: 270px;
    height: 211px;
    border: 2px solid #f2b662;
}

.image {
    display: block;
    background-color: #ffffff;
    width: 250px;
    height: 140px;
    margin-left: 10px;
    margin-top: 5px;
}

.product-info {
    margin-left: 10px;  
}

footer {
    position: relative; 
    height: 30px;
    color: #ffffff;
}


/* Media queries */
@media all and (max-width: 800px) {
    body > nav ul li{
        padding: 0;
    }

    body > nav ul li a {
        padding: 0 2.315em 0 2.315em;
    }
}

@media all and (max-width: 600px) {
  body > nav ul  {
    flex-flow: column wrap;
    width: 100%;
    align-items:space-evenly;
  }
  body > nav ul li{
      padding: 0;
      text-align: center;
  }
}
