*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: #385866;
    border: 1px solid #f2b662;
}

#header{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 5px;
}


.searching{
    display: flex;
    flex-flow: row nowrap;
}

#header .searching {
    align-self: flex-end;
    padding: 0 65px;
}

.searchText{
    align-self: flex-end;
    width: 70vw;
    height: 50px;
    border-radius: 40px;
    padding-left: 5px;
    padding-right: 50px;
    border: 2px solid #000;
    background-color: #c93d67;
    font-size: 15px;
    color: #fff;
}

.searchBtn{
    align-self: flex-end;
    border: 2px solid #000;
    margin-left: -50px;
    border-radius: 25px;
}


#header .topNav {
    align-self: flex-end;
}

.topNav a, .topNav .pipe {
    color: #f2b662;
    font-size: 14px;
}
#nav{
    width: 100%;
    background-color: #c93d67;
    font-size: 15px;
}

#nav > ul{
    display: flex;
    justify-content:flex-start;
    width:100%;
}

#nav a{
    display: block;
    color: #fff;
}

#nav ul li{
    color: #fff;
    list-style: none;
}

#nav ul .main-nav{
    border:1px solid #f2b662;
}


#nav > ul > .main-nav > a {
    padding: 10px 9.35em 10px 10px;
    font-size: 20px;
    text-decoration: none;
}
.main-nav:hover {
    background-color: rgba(125, 94, 103, 0.5);
    transition: ease-in;
}



#nav ul > li.nav-drop > a:after{
    position: relative;
    float: right;
    content: '';
    margin-top: 8px;
    margin-left: 10px;
}


#nav ul.sub-nav{
    padding: 10px 40px 0 20px;
    background-color: #c93d67;
    border:1px solid #f2b662;
    text-align: left;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    top: -9999px;
    left:0;
}

#nav ul.sub-nav ul{
    width: 40%;
    margin-bottom: 40px;
    color: #fff;
}

#nav ul.sub-nav h5{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

#nav ul.sub-nav li a{
    text-decoration: none;
}

#nav ul.sub-nav ul li a:hover{
    color: #000;
}

#nav ul li:hover ul.sub-nav {
    top: 135px;
}

main{
    display: flex;
    flex-flow: row wrap;
}

.alchol-prod-section{
      display: flex;
      flex-flow: row wrap;
      padding: 15px 30px;
}

/* Home Page*/
.image-slider {
    width: 100%;
    height: 200px;
    padding: 
    background-color: aqua;
}

/* Product Page */
.alcohol-card{
    display: flex;
    flex-direction: column;
}

.alcohol-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width:230px;
    height:290px;
    border: 2px solid #000;
    background-color: #fff;
}

.alcohol-reviews{
    width:230px;
    height:120px; 
    border: 2px solid #000;
    background-color: #c93d67;
}

.alcohol-reviews h3{
    color: #fff;
    margin: 20px 0 0 10px;
}

.alcohol-reviews img{
    margin-top: 10px;
}

.alcohol-info{
    display: inline-block;
    align-self: center;
    margin: 0 3em;
    width:650px;
    height:260px;  
    border: 2px solid #000;
    background-color: #fff;
}
.alcohol-info h3 u{
    display: block;
    font-size: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.alcohol-info > ul{
    padding-left: 7.5em;
}
.alcohol-info > ul li {
    font-size: 13px;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.table {
    width: 100%;
}
.table tr th td {
    display: block;
}

.table tr {
    padding-top: 0.2em;
    float: left;
    width: 50%;
    border: 1px solid black;
    font-size: 12px;
}

.add-to-order {
    align-self: center;
    width:300px;
    height:330px;
    border: 2px solid #000;
    background-color: #c93d67;
}

.add-to-order h2{
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
}

.add-inner {
    display: block;
    width: 260px;
    height: 100px;
    margin: 10px;
    border: 2px solid #000000;
    background-color: #fff;
}

.add-inner li {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 15px;
}

.add-inner form {
    display: block;
    padding-top: 15px;
    margin-left: 5px;

}
.check-box {
    outline: 1px solid #000;
    transform: scale(1.5);
}
.add-inner label {
    color: #fff;
    padding-left: 5px;
}

.btn-add {
    width: 250px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    background-color: #385866;
    border: 2px solid #000;
    color: #fff;
    text-decoration: underline;
}

.btn-add:hover {
    background-color: #3e4c52;
}



#footer{
    border: 1px solid #f2b662;
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width : 768px)   
and (max-width : 1024px) {

    html{
        width: fit-content;
    }
    #header .searching {
        align-self: flex-end;
        padding: 0 20px;
    }
    #nav > ul > .main-nav > a {
        padding: 5px 5.75em 5px 5px;
        font-size: 20px;
    }

    #nav ul li:hover ul.sub-nav {
        top: 126px;
    }
    .alchol-prod-section{
        display: flex;
        flex-flow: row wrap;
        padding: 35px 20px;
    }
    .img-product{
        width: 152px;
        height: 210px;
    }
    
    .alcohol-image {
        width:200px;
        height:220px;
    }

    .alcohol-reviews{
        width:200px;
        height:100px; 
    }
    .review-star{
        width: 30px;
        height: 30px;
    }

    .alcohol-reviews h3{
        margin-top: 15px;
    }

    .alcohol-info{
        align-self: end;
        margin: 0 1em;
        width:500px;
        height:300px;  
    }
   .add-to-order h2{
        margin-top: 10px; 
    }
    
    .add-to-order {
        align-self: end;
        width:190px;
        height:320px;
    }

    .add-inner {
        display: block;
        width: 160px;
        height: 100px;
        margin: 10px;
    }

    .add-inner li {
        list-style: none;
        margin-top: 5px;
        margin-bottom: 1px;
        margin-left: 2px;
    }

    .add-inner form {
        padding-top: 20px;
        margin-left: 4px;

    }
    .btn-add {
        width: 150px;
    }

}

@media screen and (min-width : 1536px) {

    #nav > ul > .main-nav > a {
        padding: 5px 11.3em 5px 5px;
        font-size: 20px;
    }

}